.btn-search{
    margin-top: 5%;
}

.table-title{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

fieldset legend{
    color: #2b669a;
}

.reference label{
    text-transform: uppercase !important;
}

.reference h3{
    color: #2b669a !important;
}

.table-link{
    height:100%;
    width:100%;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.content.clearfix{
    height: 100% !important;
    min-height: 650px !important;
}

.wizard > .content > .body {
    height: 100%;
}

.pagination{
    display: inline-flex !important;
}