.hitMeSearch {
    margin-left: 70%;
    margin-top: 4%;
}

.searchError {
    background-color: #D4A190;
}

.inputIDAdd, .inputIDUpdate {
    display: none;
}

.graduateNameValidate {
    margin-top: 0;
}