a.disabled-link,
a.disabled-link:visited,
a.disabled-link:active,
a.disabled-link:hover {
    background-color: #d9d9d9 !important;
    color: #aaa !important;
}


ul.list{
    padding-top: 5px;
    padding-bottom: 5px;
    font-family: inherit;
    color: #377cb8;
}

ul li{
    padding-left:5px;
    padding-right:5px;
}

a:focus{
    text-decoration: none;
}