@(prospects: List[Prospect], form : Form[Prospect], condition : Boolean, filters : Map[String,String])


@css = {
  <!-- DataTables CSS -->
  <link href="@routes.Assets.at("bower_components/datatables/media/css/jquery.dataTables.min.css")" rel="stylesheet">
  <link href="@routes.Assets.at("stylesheets/application.css")" rel="stylesheet">
  <link href="https://cdn.datatables.net/buttons/1.3.1/css/buttons.dataTables.min.css" rel="stylesheet">
}

@scripts = {
    <!-- DataTables JavaScript -->
  <script type="text/javascript" src="http://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
  <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.3.1/js/dataTables.buttons.min.js"></script>
  <script type="text/javascript" src="//cdn.datatables.net/buttons/1.3.1/js/buttons.flash.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
  <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.3.1/js/buttons.html5.min.js"></script>
  <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.3.1/js/buttons.print.min.js"></script>
  <script type="text/javascript" src="//cdn.datatables.net/buttons/1.3.1/js/buttons.colVis.min.js"></script>

    <!-- Page-Level Demo Scripts - Tables - Use for reference -->
  <script>
          $(document).ready(function() {
            $('#dataTables-example').DataTable({
              dom: 'Bfrtip',
              responsive: true,
              select: true,
              buttons: [
                {
                    extend : 'excel',
                    exportOptions:{
                        columns : [0, 1, 2, 3, 4]
                    }
                },
                {
                    extend : 'csv',
                    exportOptions:{
                        columns : [0, 1, 2, 3, 4]
                    }
                },
                {
                    text : 'JSON',
                    action: function ( e, dt, button, config ) {
                        var data = dt.buttons.exportData({
                            columns : [0, 1, 2, 3, 4]
                        });

                        $.fn.dataTable.fileSave(
                                new Blob( [ JSON.stringify( data ) ] ),
                                'Export.json'
                        );
                    }
                }
              ]
            });
          });
  </script>
}

@layout("Prospect Tracker | Prospects",scripts,css){

  <div id="wrapper">
    <div id="page-wrapper">
      <div class="row">
        <div class="col-lg-12">
          <h1 class="page-header">Active Prospects</h1>
        </div>
          <!-- /.col-lg-12 -->
      </div>
        <!-- /.row -->

      <div class="row">
        <div class="col-lg-12">
          <div class="panel panel-default">
              <!-- /.panel-heading -->
            <div class="panel-body">
              <div class="dataTable_wrapper">
              @helper.form(action = routes.ProspectController.search){
                <div class="form-group">
                  <div class="col-md-6">
                    <label>Firstname</label>
                    <input value='@if(filters.get("firstName").isDefined){ @filters("firstName")}' type="text" class="form-control" name="firstName" aria-describedby="basic-addon1">
                  </div>
                  <div class="col-md-6">
                    <label>Lastname</label>
                    <input value='@if(filters.get("lastName").isDefined){ @filters("lastName")}' type="text" class="form-control" name="lastName" aria-describedby="basic-addon2">
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-md-6">
                    <label>Graduation Year</label>
                    <input value='@if(filters.get("gradDate").isDefined){ @filters("gradDate")}' type="date" class="form-control" name="graduationDate" aria-describedby="basic-addon4">
                  </div>
                  <div class="col-md-6">
                    <label>Career</label>
                    <input value='@if(filters.get("career").isDefined){ @filters("career")}' type="text" class="form-control" name="career" aria-describedby="basic-addon3">
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-md-6">
                    <label>Identification</label>
                    <input value='@if(filters.get("identification").isDefined){ @filters("identification")}' type="text" class="form-control" name="identification" aria-describedby="basic-addon5">
                  </div>
                  <div class="col-md-6">
                    <label>Student Code</label>
                    <input value='@if(filters.get("studentCode").isDefined){ @filters("studentCode")}' type="text" class="form-control" name="studentCode" aria-describedby="basic-addon6">
                  </div>
                </div>
                <div class="form-group">
                  <div class="row">
                    <div class="col-md-12">
                      <button type="submit" class="btn btn-primary btn-search center-block"><i class="fa fa-search"></i> Filter</button>
                    </div>
                  </div>
                </div>
              }
              </div>
            </div>
              <!-- /.panel-body -->
          </div>
            <!-- /.panel -->
        </div>
          <!-- /.col-lg-12 -->
      </div>
        <!-- /.row -->


      <div class="row">
        <div class="col-lg-12">
          <div class="panel panel-default">
              <!-- /.panel-heading -->
            <div class="panel-body">
              <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Last Name</th>
                    <th>Identification</th>
                    <th>Institution Code</th>
                    <th>Exit date</th>
                    <th>Title</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <ul>
                  @if(prospects.nonEmpty){
                    @for(prospect : Prospect <- prospects){
                      <tr class="graduate">
                        <td>@prospect.firstName</td>
                        <td>@prospect.lastName</td>
                        <td>@prospect.documentId</td>
                        <td>@prospect.institutionCode</td>
                        <td>@prospect.exitDate</td>
                        <td>@prospect.title</td>
                        <td>
                          <div class="btns-ctn">
                            <a title="Details" class="btn btn-primary" href="@routes.ProspectController.show(prospect._id)"><i class="fa fa-cog"></i></a>
                            <button title="Delete" type="button" data-toggle="modal" data-target="#@prospect._id" class="btn btn-danger"><i class="fa fa-trash-o"></i></button>
                          </div>
                            <!-- Modal -->
                          <div class="modal fade" id="@prospect._id" role="dialog">
                            <div class="modal-dialog">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <button type="button" class="close" id="close" data-dismiss="modal">&times;</button>
                                  <h4 class="modal-title">Delete graduate</h4>
                                </div>
                                <div class="modal-body">
                                  <p>Are you sure you want to delete this graduate?</p>
                                </div>
                                <div class="modal-footer">
                                  <a href="@routes.ProspectController.delete(prospect._id)" type="button" class="btn btn-danger">Delete</a>
                                  <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
                                </div>
                              </div>
                            </div>
                          </div>
                        </td>
                      </tr>
                    }
                  }else{
                    @if(!condition){
                      <tr>
                        <td id="searchError" colspan="7"> No se encontraron Egresados para la busqueda seleccionada</td>
                      </tr>
                    }
                  }
                  </ul>
                </tbody>
              </table>
            </div>
              <!-- /.panel-body -->
          </div>
            <!-- /.panel -->
        </div>
          <!-- /.col-lg-12 -->
      </div>
        <!-- /.row -->
    </div>
      <!-- /#page-wrapper -->
  </div>
    <!-- /#wrapper -->
}