@(prospect: Option[Prospect])

@styles = {
  <!-- Application Style CSS -->
  <link href="@routes.Assets.at("stylesheets/application.css")" rel="stylesheet">
  <link href="@routes.Assets.at("bower_components/datatables/media/css/jquery.dataTables.min.css")" rel="stylesheet">
  <link href="https://cdn.datatables.net/buttons/1.3.1/css/buttons.dataTables.min.css" rel="stylesheet">

}

@scripts = {
  <script type="text/javascript" src="http://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
  <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.3.1/js/dataTables.buttons.min.js"></script>
  <script type="text/javascript" src="//cdn.datatables.net/buttons/1.3.1/js/buttons.flash.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
  <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.3.1/js/buttons.html5.min.js"></script>
  <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.3.1/js/buttons.print.min.js"></script>
  <script type="text/javascript" src="//cdn.datatables.net/buttons/1.3.1/js/buttons.colVis.min.js"></script>

  <script>

    function validateNewsLinks(source){
      var links = $('input[name=' + source + ']:checked');
      var inputData = $.map(links, function(val, i){
        return $(val).val();
      });
      var postData = {"type": source,
                      "links": inputData
                     };
      $.ajax({
        url: '@routes.ProspectController.postValidation(prospect.get._id)',
        type: 'POST',
        contentType: 'application/json',
        data : JSON.stringify(postData),
        success: function(response){
          if(response.status === 'OK'){
            var unchecked = $('input[name=' + source + ']:not(:checked)');
            $.each(unchecked, function(i, val) {
              var id = $(val).val();
              $('#'+id).hide();
            });
          }
        },
        error : function(response){
          console.log("ERROR " + response);
        }
      });
    }

    $(document).ready(function() {
      $('#dataTables-lanacion').DataTable({
        dom: 'Bfrtip',
        responsive: true,
        select: true,
        buttons:[]
      });
      $('#dataTables-infobae').DataTable({
        dom: 'Bfrtip',
        responsive: true,
        select: true,
        buttons:[]
      });
      $('#dataTables-clarin').DataTable({
        dom: 'Bfrtip',
        responsive: true,
        select: true,
        buttons:[]
      });
      $('#dataTables-elcronista').DataTable({
        dom: 'Bfrtip',
        responsive: true,
        select: true,
        buttons:[]
      });
    });
  </script>
}

@layout("Prospect Tracker | Link Validation", scripts, styles){
  <div id="page-wrapper">

    <div class="page-header">
      <div class="row">
        <div class="col-lg-12">
          <h1>Validación de Links</h1> 
          <h3><span><strong>Graduado: </strong></span>@prospect.get.getFullName</h3>
          <h4><span><i>Selecciona los links que deseas validar para tu perfil</i></span></h4>
        </div>
      </div>
    </div>


    <div class="row">
      <div class="col-lg-12">
        <div class="panel panel-default">
          <div class="panel-body">
            <fieldset>
              <legend>News Validation</legend>
              @com.prospects.views.html.news_validation_table.render(prospect.get.nacionNews, "La Nación", "lanacion")
              @com.prospects.views.html.news_validation_table.render(prospect.get.infobaeNews, "Infobae", "infobae")
              @com.prospects.views.html.news_validation_table.render(prospect.get.clarinNews, "Clarín", "clarin")
              @com.prospects.views.html.news_validation_table.render(prospect.get.cronistaNews, "El Cronista", "elcronista")
            </fieldset>
            <fieldset>
              <legend>LinkedIn Validation</legend>
              <div class="row">
                <div class="col-lg-12">

                </div>
              </div>
            </fieldset>
          </div>

        </div>
      </div>
    </div>

  </div>
}