@import java.util.Locale

@(prospect: Map[String, String], action: String)(implicit documentTypes : List[String], institutions: Seq[Institution])
<fieldset>
  <legend>Personal Information</legend>
  <div class="row form-group">
    <div class="col-md-6">
      <label for="firstName">Firstname</label>
      <input type="text" class="form-control" name="firstName" id="firstName" placeholder="FirstName" value="@prospect("firstName")">
    </div>
    <div class="col-md-6">
      <label for="lastName">Lastname</label>
      <input type="text" class="form-control" name="lastName" id="lastName" placeholder="LastName" value="@prospect("lastName")">
    </div>
  </div>
  <div class="row form-group">
    <div class="col-md-6">
      <label for="documentType">Document Type</label>
      <select name="documentType" id="documentType" class="form-control">
        @for(documentType: String <- documentTypes){
          @if(prospect("documentType").equals(documentType)){
            <option value="@documentType" selected>@documentType.toUpperCase</option>
          } else{
            <option value="@documentType" >@documentType.toUpperCase</option>
          }
        }
      </select>
    </div>
    <div class="col-md-6">
      <label for="documentId">Document ID</label>
      <input type="text" class="form-control" name="documentId" id="documentId" placeholder="DNI" value="@prospect("documentId")">
    </div>
  </div>
  <div class="row form-group">
    <div class="col-md-6">
      <label for="birthDate">Birth Date</label>
      <input type="date" name="birthDate" id="birthDate" class="form-control" placeholder="dd/MM/yyyy" value="@prospect("birthDate")">
    </div>
    <div class="col-md-6">
      <label for="country">País de Residencia: </label>
      <select name="country" id="country" class="form-control">
      @for(country: (String,String)<- Locale.getISOCountries.map(c => new Locale("",c).getDisplayCountry) zip Locale.getISOCountries.map(c => new Locale("",c).getDisplayCountry)){
        @if(prospect("country").equals(country._1)){
          <option value="@country._1" selected>@country._2</option>
        } else{
          <option value="@country._1" >@country._2</option>
        }
      }
      </select>
    </div>
  </div>
  <div class="row form-group">
    <div class="col-md-6">
      <label for="primaryEmail">Email Primario</label>
      <input type="email" class="form-control" name="primaryEmail" id="primaryEmail" placeholder="some@@mail.com" value="@prospect("primaryEmail")">
    </div>
    <div class="col-md-6">
      <label for="secondaryEmail">Email Secundario</label>
      <input type="email" class="form-control" name="secondaryEmail" id="secondaryEmail" placeholder="some@@mail.com" value="@prospect("secondaryEmail")">
    </div>
  </div>
</fieldset>
<fieldset>
  <legend>Institutional Information</legend>
  <div class="row form-group">
    <div class="col-md-6">
      <label for="institution">Institution</label>
      <select name="institution" id="institution" class="form-control">
      @for(institution: Institution <- institutions){
        @if(prospect("institution").equals(institution._id)){
          <option value="@institution._id" selected>@institution.name</option>
        } else{
          <option value="@institution._id" >@institution.name</option>
        }
      }
      </select>
    </div>
    <div class="col-md-6">
      <label for="institutionCode">Docket Code</label>
      <input type="text" class="form-control" name="institutionCode" id="institutionCode" placeholder="Docket Code" value="@prospect("institutionCode")">
    </div>
  </div>
  <div class="row form-group">
    <div class="col-md-6">
      <label for="career">Title</label>
      <input type="text" name="title" class="form-control" id="title" placeholder="Title" value="@prospect("title")">
    </div>
  </div>
  <div class="row form-group">
    <div class="col-md-6">
      <label for="entryDate">Entry Date</label>
      <input type="date" name="entryDate" id="entryDate" class="form-control" placeholder="dd/MM/yyyy" value="@prospect("entryDate")">
    </div>

    <div class="col-md-6">
      <label for="exitDate">Exit Date</label>
      <input type="date" name="exitDate" id="exitDate" class="form-control" placeholder="dd/MM/yyyy" value="@prospect("exitDate")">
    </div>
  </div>
</fieldset>
<div class="row form-group">
  <input type="hidden" name="_id" id="_id"  value="@prospect("_id")">
  <input type="hidden" name="institution._id" id="institution._id"  value="">
  <input type="hidden" name="institution.name" id="institution.name"  value="">
  <input type="hidden" name="institution.address" id="institution.address"  value="">
  <input type="hidden" name="linkedInProfile._id" id="linkedInProfile._id"  value="">
  <input type="hidden" name="linkedInProfile.actualPosition" id="linkedInProfile.actualPosition"  value="">
  <input type="hidden" name="linkedInProfile.profileUrl" id="linkedInProfile.profileUrl"  value="">
  <div class="col-md-6">
    <a href="" class="btn btn-default btn-lg pull-right">Cancel</a>
  </div>
  <div class="col-md-6">
    <button type="submit" class="btn btn-primary btn-lg pull-left"><span><i class="fa fa-graduation-cap"> @action</i></span></button>
  </div>
</div>