@(message: String = "", dateError: String = "", qtyError: Int = 0, dateSuccess: String = "", qtySuccess: Int = 0)
@layout(title = "Index"){

    <p>@message</p>
    @*<p>Errores: @qtyError</p>*@
    @*<p>Fecha: @dateError</p>*@
    @*<p>Correctos: @qtySuccess</p>*@
    @*<p>Fecha: @dateSuccess</p>*@

    <div class="container">
        <div class="">

            <span>
                <div class="row">
                    <div class="col-md-4 col-md-offset-4">
                        <div class="login-panel panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">Ultimos scraps</h3>
                            </div>

                            @if(message.nonEmpty){
                                <div class="alert alert-danger">
                                    <strong>@message</strong>
                                </div>
                            }

                            <div class="panel-body">
                                <p>Errores: @qtyError</p>
                                <p>Fecha: @dateError</p>
                                <p>

                                </p>
                                <p>Correctos: @qtySuccess</p>
                                <p>Fecha: @dateSuccess</p>

                            </div>
                        </div>
                    </div>
                </div>
            </span>
        </div>
    </div>

}