@import org.joda.time.DateTime
@(message: String = "", date : DateTime, successLogs : List[(DateTime, String,String,String)],errorLogs : List[(DateTime, String,String,String)])
@layout(title = "Index"){

    <p>@message</p>

    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <div class="col-lg-6 col-md-6">
                            <div class="panel panel-red">
                                <div class="panel-heading">
                                    <div class="row">
                                        <div class="col-xs-3">
                                            <i class="fa fa-tasks fa-5x"></i>
                                        </div>
                                        <div class="col-xs-9 text-right">
                                            <div class="huge">@errorLogs.size</div>
                                            <div>Scrap Errors</div>
                                            <div>@date</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel-footer">
                                    <span class="pull-left">
                                        <ul>
                                            @for(item <- errorLogs){
                                                <li>
                                                    <span>@item._2</span>
                                                    <p><a href="@item._4" title="@item._4">@item._3</a></p>
                                                </li>
                                            }
                                        </ul>
                                    </span>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                </div>
                <div class="col-lg-6 col-md-6">
                            <div class="panel panel-green">
                                <div class="panel-heading">
                                    <div class="row">
                                        <div class="col-xs-3">
                                            <i class="fa fa-tasks fa-5x"></i>
                                        </div>
                                        <div class="col-xs-9 text-right">
                                            <div class="huge">@successLogs.size</div>
                                            <div>Successful Scraps</div>
                                            <div>@date</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel-footer">
                                    <span class="pull-left">
                                        <ul>
                                            @for(item <- successLogs){
                                                <li>
                                                    <span>@item._2</span>
                                                    <p><a href="@item._4" title="@item._4">@item._3</a></p>
                                                </li>
                                            }
                                        </ul>
                                    </span>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
            </div>
        </div>
    </div>

}